<form action="http://localhost:3000/answer" data-turbo="false" class="m-3">
  <div class="form-group">
    <label for="question" class="form-label">Question:</label>
    <input type="text" name="question" id="question" class="form-control w-25">
  </div>
  <button type="submit" class="btn btn-primary mt-3">Ask!</button>
</form>
